.container {
  padding: 6% 5% 5% 5%;
  margin-top: 6rem;
  padding-bottom: 4rem;

  & .home-cover-img {
    width: 75%;
    height: 500px;
    margin: auto;
  }

  & .top-category {
    width: 75%;
    height: 200px;
    margin: auto;
    margin-top: 3%;
  }

  & .swipe-recipes {
    width: 75%;
    margin: auto;
  }

  & .recipes-row {
    height: 360px;
    padding: 2rem;
    margin-top: 4rem;
    border-radius: 8px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
}

::ng-deep.ng-image-slider {
  height: 100% !important;

  & .ng-image-slider-container .main {
    height: 100% !important;

    & .icons {
      transition: 50ms;
      &:hover {
        transform: scale(1.2);
      }
    }

    & .next.disable,
    .prev.disable {
      transform: none;
    }
  }

  & .main-inner .img-div img {
    border-radius: 16px;
    object-fit: cover;
    transition: 100ms;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 10% 0 0 0;
  }
}

// @media only screen and (max-width: 1024px) {
// }

@media only screen and (max-width: 769px) {
  .container {
    padding: 20% 0 0 0;
  }
}

@media only screen and (max-width: 485px) {
  .container {
    padding: 25% 0 0 0;
  }
}
