<app-header></app-header>

<div class="container">
  <div class="home-cover-img">
    <app-image-slider
      [items]="imagesGalleryItems"
      [infinite]="true"
      [coverImage]="true"
    >
    </app-image-slider>
  </div>

  <div class="top-category">
    <app-image-slider
      [items]="imagesGalleryItems"
      [topCategory]="true"
    ></app-image-slider>
  </div>

  <div class="swipe-recipes">
    <div class="recipes-row first">
      <app-recipe-cards
        [Cuisine]="'Italian'"
        [recipes]="ItalianRecipes"
      ></app-recipe-cards>
    </div>

    <div class="recipes-row">
      <app-recipe-cards
        [Cuisine]="'Syrian'"
        [recipes]="SyrianRecipes"
      ></app-recipe-cards>
    </div>

    <div class="recipes-row">
      <app-recipe-cards
        [Cuisine]="'Chinese'"
        [recipes]="ChineseRecipes"
      ></app-recipe-cards>
    </div>

    <div class="recipes-row">
      <app-recipe-cards
        [Cuisine]="'British'"
        [recipes]="BritishRecipes"
      ></app-recipe-cards>
    </div>

    <div class="recipes-row">
      <app-recipe-cards
        [Cuisine]="'Japanese'"
        [recipes]="JapaneseRecipes"
      ></app-recipe-cards>
    </div>

    <div class="recipes-row">
      <app-recipe-cards
        [Cuisine]="'American'"
        [recipes]="AmericanRecipes"
      ></app-recipe-cards>
    </div>

    <div class="recipes-row">
      <app-recipe-cards
        [Cuisine]="'Moroccan'"
        [recipes]="MoroccanRecipes"
      ></app-recipe-cards>
    </div>
  </div>
</div>
