@import "/src/styles/mixins.scss";

.container {
  padding: 5rem;
  margin-top: 6rem;
  padding-bottom: 4rem;

  @include onXLarge {
    padding: 4rem;
    margin-bottom: 4rem;
  }

  @include onLarge {
    padding: 3rem;
  }

  @include onMedium {
    padding: 1rem;
    margin-top: 7.5rem;
  }

  @include onSmall {
    padding: 1rem 0.3rem;
    margin-top: 9rem;
  }

  & .home-cover-img {
    max-width: 1200px;
    width: 100%;
    height: 500px;
    margin: auto;
  }

  & .top-category {
    max-width: 1400px;
    width: 100%;
    height: 230px;
    margin: auto;
    margin-top: 3rem;
  }

  & .swipe-recipes {
    max-width: 1400px;
    width: 100%;
    margin: auto;
  }

  & .recipes-row {
    height: 360px;
    padding: 2rem;
    margin-top: 4rem;
    border-radius: 8px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);

    @include onXSmall {
      height: 340px;
      padding: 0;
    }
  }

  & .first {
    margin-top: 10rem;
  }
}
