<app-header></app-header>
<div class="container">
    <div class="home-cover-img">
        <ng-image-slider [images]="imagesGallery" #nav [imageSize]="{width: '100%'}" [showArrow]="false"
            [infinite]="true" [autoSlide]="3" slideImage="1">
        </ng-image-slider>
    </div>

    <div class="top-category">
        <ng-image-slider [images]="imagesGallery" #nav [imageSize]="{width: '25%', space: 10}">
        </ng-image-slider>
    </div>
    <div class="swipe-recipes">
        <div class="recipes-row">
            <div class="recipes-title">
                <h1>Recipes of the Day</h1>
                <a href="">View ALL</a>
            </div>
            <p class="recipes-description">Check out our featured recipe for today! This recipe is the most popular
                and trendy recipe that you'd definitely want to give a try!</p>
            <div class="recipes-cards">
                <div class="recipe-card">
                    <img class="recipe-img" [src]="'assets/images/food.jpg'" alt="">
                    <div class="card-info">
                        <p class="recipe-name">Fish</p>
                        <p class="recipe-chef"><span style="font-weight: 200;">by</span> Chef Gordo </p>
                        <p>rating XD</p>
                    </div>
                </div>
                <div class="recipe-card">
                    <img class="recipe-img" [src]="'assets/images/food.jpg'" alt="">
                    <div class="card-info">
                        <p class="recipe-name">Fish</p>
                        <p class="recipe-chef"><span style="font-weight: 200;">by</span> Chef Gordo </p>
                        <p>rating XD</p>
                    </div>
                </div>
                <div class="recipe-card">
                    <img class="recipe-img" [src]="'assets/images/food.jpg'" alt="">
                    <div class="card-info">
                        <p class="recipe-name">Fish</p>
                        <p class="recipe-chef"><span style="font-weight: 200;">by</span> Chef Gordo </p>
                        <p>rating XD</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>