<div class="filters-tab">
    <button mat-stroked-button class="fitler-btn"
        [ngStyle]="{'background-color': cookingTimeToggle ? '#ffdf36' : 'transparent'}"
        (click)="cookingTimeActive()">cooking time</button>
    <button mat-stroked-button [ngStyle]="{'background-color': nameToggle ? '#ffdf36' : 'transparent'}"
        class="fitler-btn" (click)="nameActive()">name</button>
    <button mat-stroked-button [ngStyle]="{'background-color': cuisineToggle ? '#ffdf36' : 'transparent'}"
        class="fitler-btn" (click)="cuisineActive()" *ngIf="!cuisineRecipes">cuisine</button>
</div>