<app-header></app-header>

<div class="container">

    <h1 class="recipes-title">
        All Recipes
    </h1>

    <div class="recipes-cards">
        <div class="recipe-card" *ngFor="let recipe of recipes">
            <img class="recipe-img" [routerLink]="['/recipe-details', recipe.name]" [state]="recipe"
                [src]="recipe.image" alt="" fetchpriority="high">
            <div class="card-info">
                <p class="recipe-name">{{recipe.name}}</p>
                <p class="recipe-cuisine">{{recipe.cuisine}}</p>
                <p class="recipe-cooking-time">Cooking Time: {{recipe.cookingTime}}</p>
            </div>
        </div>
    </div>

</div>