<app-header></app-header>

<div class="container">
    <div class="title-box">
        <h1>All Recipes</h1>
        <button mat-raised-button color="primary" (click)="addRecipe()">Add Recipe</button>
    </div>
    <div class="recipes-list-box">
        <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let recipe of recipes">
                <app-recipe [recipe]="recipe" style="width: 100%; height: 100%" (recipeDeleted)="recipeDeleted($event)"
                    (recipeUpdated)="recipeUpdated($event)">
                </app-recipe>
            </mat-list-item>
        </mat-list>
    </div>
</div>