@import "/src/styles/mixins.scss";

.recipes-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;

  & .title {
    @include onSmall {
      font-size: 28px;
    }

    @include onXSmall {
      font-size: 24px;
    }
  }

  & .view-all-link {
    &:hover {
      text-decoration: underline;
    }

    @include onXSmall {
      font-size: 14px;
    }
  }
}

.recipes-description {
  font-weight: 500;
  padding-bottom: 20px;
}

.recipes-cards {
  height: 190px;
}
