.recipes-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.recipes-description {
  font-weight: 500;
  padding-bottom: 20px;
}

.recipes-cards {
  height: 190px;
}

.view-all-link:hover {
  text-decoration: underline;
}
