@import "/src/styles/mixins.scss";

:host {
  display: block;
  background: #fff;
  border-radius: 8px;
  padding: 8px 16px;

  @include onXSmall {
    padding: 0;
  }
}

.edit-recipe-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding: 6%;

  @include onXSmall {
    padding: 0;
  }
}

.full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

:host
  ::ng-deep.ingredients.mat-form-field-appearance-fill
  .mat-form-field-flex {
  height: 100px;
  overflow: scroll;
  overflow-x: hidden;
}

.bottom-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
