<form [formGroup]="editRecipeForm" class="edit-recipe-form">

    <input matInput formControlName="id" style="display: none;">
    <p>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Recipe name</mat-label>
            <input matInput formControlName="name" minlength="3" maxlength="50">
        </mat-form-field>
        <mat-form-field class="full-width ingredients" appearance="fill">
            <mat-label>Recipe ingredients</mat-label>
            <mat-chip-list #chipList aria-label="ingredient selection">
                <mat-chip *ngFor="let ingredient of ingredients" (removed)="remove(ingredient)">
                    {{ingredient}}
                    <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
                <input placeholder="New ingredient..." [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)" formControlName="ingredients" minlength="5" maxlength="100">
            </mat-chip-list>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Image Url</mat-label>
            <input matInput formControlName="image">
        </mat-form-field>
    </p>

    <table class="full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Cuisine</mat-label>
                    <input minlength="3" maxlength="25" matInput placeholder="Ex. Italian" formControlName="cuisine">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Cooking Time</mat-label>
                    <input matInput placeholder="In minutes" type="number" formControlName="cookingTime">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Meal Type</mat-label>
                    <input matInput formControlName="mealType" minlength="4" maxlength="25">
                </mat-form-field>
            </td>
        </tr>
    </table>
    <div class="bottom-buttons">
        <button mat-raised-button color="primary" type="submit" [disabled]="editRecipeForm.invalid"
            [mat-dialog-close]="editRecipeForm.value">Update</button>
        <button mat-raised-button (click)="onCancel()">Cancel</button>
    </div>
</form>