@import "/src/styles/mixins.scss";

.container {
  padding: 5rem;
  margin-top: 6rem;
  padding-bottom: 4rem;

  @include onXLarge {
    padding: 4rem;
    margin-bottom: 4rem;
  }

  @include onLarge {
    padding: 3rem;
  }

  @include onMedium {
    padding: 1rem;
    margin-top: 7.5rem;
  }

  @include onSmall {
    padding: 1rem 0.3rem;
    margin-top: 9rem;
  }
}

.row {
  display: flex;
  padding: 0.5rem;

  @include onSmall {
    flex-direction: column;
    margin: 0;
  }
}

.first-col {
  max-width: 55%;
  flex-grow: 1;
  padding-right: 2rem;

  @include onSmall {
    max-width: 100%;
    padding: 0;
  }
}

.second-col {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @include onSmall {
    padding: 0;
    margin-top: 2rem;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  row-gap: 1rem;
  margin-bottom: 2rem;

  & .tag-button {
    padding: 0.5rem 1rem;
    font-size: 16px;
    color: rgb(42, 42, 243);
    text-transform: capitalize;
    cursor: default;
    background-color: #fafafa;
    border-radius: 8px;
  }
}

.title {
  margin-bottom: 4%;
}

.img {
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.ingredients-title {
  padding: 10px;
}

.ingredients-list {
  padding: 10px 0;
}

.reviews {
  margin-top: 20px;
  padding: 0.5rem;
}

.review-box {
  margin-top: 20px;
  background-color: #ebece9;
  border-radius: 16px;
  padding: 1rem;
}

.username {
  padding-bottom: 1rem;
}

.comment {
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
}

.add-review-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-top: 20px;
}

.full-width {
  width: 100%;
}

.reviews-divider {
  margin: 2rem 0;
}
