<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="first-col">
      <div class="tags">
        <h2>Tags:</h2>
        <div class="tag-button" *ngFor="let tag of recipe.tags">
          {{ "#" + tag }}
        </div>
      </div>
      <h2 class="title">
        {{ recipe.name }}
      </h2>
      <img class="img" [src]="recipe.image" alt="" />
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="second-col">
      <h3>Cuisine:</h3>
      {{ recipe.cuisine }}
      <h3>Meal Type:</h3>
      {{ recipe.mealType }}
      <h3>Cooking Time:</h3>
      {{ recipe.cookingTime }}
      <h2 class="ingredients-title">Ingredients</h2>
      <p class="ingredients-list" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient }}
      </p>
    </div>
  </div>
  <div class="reviews">
    <h1 class="reviews-title">Reviews</h1>
    <div *ngFor="let review of reviews" class="review-box">
      <h3 class="username">{{ review.username }}</h3>
      <p class="comment">{{ review.comment }}</p>
    </div>
    <mat-divider class="reviews-divider"></mat-divider>
    <h2>Write a review</h2>
    <form [formGroup]="addReviewForm" class="add-review-form">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Username</mat-label>
        <input
          matInput
          formControlName="username"
          minlength="3"
          maxlength="25"
        />
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Comment</mat-label>
        <input
          matInput
          formControlName="comment"
          minlength="3"
          maxlength="150"
        />
      </mat-form-field>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="addReviewForm.invalid"
        (click)="onSubmitReview(addReviewForm.value, recipe.id)"
      >
        Submit
      </button>
    </form>
  </div>
</div>
