<div class="header">
    <div class="header-title">
        <h1 class="title" routerLink="/">Recipe Book</h1>
    </div>
    <div class="header-search-bar">
        <div class="search-bar-span">
            <button class="header-category-button">Category</button>
            <form class="header-search-bar-form">
                <input class="search-input" placeholder="Search for recipes, ingredients..." type="text">
                <button class="search-icon fa-search"></button>
            </form>
        </div>
    </div>
    <div class="header-nav-menu">
        <button class="nav-menu-btn" [routerLink]="'/contact-us'">Contact</button>
        <button routerLink="/manage-recipes" class="nav-menu-btn" [ngStyle]="{'display': loggedIn ? '' : 'none'}">Manage
            Recipes</button>
        <button [routerLink]="['/recipes']" [state]="recipes" class="nav-menu-btn">Recipes</button>
        <button class="nav-menu-btn logout" [ngStyle]="{'display': loggedIn ? '' : 'none'}"
            (click)="logout()">Logout</button>
    </div>
</div>