.header {
    display: flex;
    box-shadow: 0 0 6px rgb(0 0 0 / 15%);
    font-size: 10pt;
    font-weight: 500;
    background-color: #fff;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
}

.header-title {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 32px;
    cursor: pointer;
}

.header-search-bar {
    background-color: white;
    padding: 24px 10px;
    width: 30%;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.search-bar-span {
    text-align: center;
}

.header-search-bar-form {
    padding: 0;
    display: inline-block;
    min-width: 48%;
    position: relative;
}

.header-search-bar-form:hover {
    transform: scale(1.02);
}

.search-input {
    background: #f2f2f2;
    padding: 0 15px 0 35px;
    height: 35px;
    color: #666;
    outline: 0;
    border: 0;
    -webkit-appearance: none;
    width: 100%;
    border: 1px solid #ddd;
    // border-top-right-radius: 18px;
    // border-bottom-right-radius: 18px;
    border-radius: 18px;
}

.search-icon {
    top: 36%;
    left: 0;
    width: 35px;
    height: 35px;
    font-size: 10pt;
    border: 0;
    padding: 0;
    position: absolute;
    color: #323c41;
}

// might use later

// .header-category-button {
//     background-color: #f2f2f2;
//     height: 35px;
//     margin-right: 6px;
//     border-top-left-radius: 18px;
//     border-bottom-left-radius: 18px;
//     padding: 0px 15px;
//     border: 1px solid #ddd;
//     color: #323c41;
//     min-width: 20%;
//     max-width: 140px;
//     font-weight: bold;
// }

// .header-category-button:hover {
//     transform: scale(1.02);
// }

.header-nav-menu {
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: space-between;
}

/* right side of the header. navigation buttons */
.nav-menu {
    width: 100%;
}

.nav-menu-btn {
    border: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    height: 100%;
    padding: 0;
}

.logout {
    background-color: #323c41;
    color: #fff !important;
    padding: 7px 15px;
    border-radius: 18px;
    height: auto;
}

.nav-menu-btn:hover {
    color: #323c41;
    border-bottom: 2px solid #323c41;
}

.header-nav-menu-smaller-devices {
    display: none;
}

@media only screen and (max-width: 1200px) {
    .nav-menu-btn {
        font-size: 14px;
    }

    .title {
        font-size: 28px;
    }
}

@media only screen and (max-width: 1024px) {
    .nav-menu-btn {
        font-size: 12px;
    }

    .title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 769px) {
    .nav-menu-btn {
        font-size: 11px;
    }

    .responsive-menu {
        display: none;
    }

    .header-nav-menu-smaller-devices {
        display: flex;
    }

    .logout {
        background-color: #323c41;
        color: #fff !important;
    }

    .title {
        font-size: 20px;
    }

    .header-title {
        width: 30%;
    }

    .header-search-bar {
        width: 45%;
    }
}

@media only screen and (max-width: 485px) {
    .nav-menu-btn {
        font-size: 10px;
    }

    .title {
        font-size: 16px;
    }
}