.header {
    display: flex;
    box-shadow: 0 0 6px rgb(0 0 0 / 15%);
    font-size: 10pt;
    font-weight: 500;
    background-color: #fff;
    position: fixed;
    z-index: 1030;
    top: 0;
    width: 100%;
}

.header-title {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 32px;
    cursor: pointer;
}

.header-search-bar {
    background-color: white;
    padding: 24px 10px;
    width: 45%;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.search-bar-span {
    text-align: center;
}

.header-search-bar-form {
    padding: 0;
    display: inline-block;
    min-width: 48%;
    position: relative;
}

.header-search-bar-form:hover {
    transform: scale(1.02);
}

.search-input {
    background: #f2f2f2;
    padding: 0 15px 0 35px;
    height: 35px;
    color: #666;
    outline: 0;
    border: 0;
    -webkit-appearance: none;
    width: 100%;
    border: 1px solid #ddd;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.search-icon {
    background-color: transparent;
    background-size: 19px 19px;
    background-position: center center;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    font-size: 10pt;
    border: 0;
    padding: 0;
    position: absolute;
    color: #323c41;
}

.fa-search:before {
    content: "\f002";
    /* content: url("/icons/search-icons-283914.png") */
}

.header-category-button {
    background-color: #f2f2f2;
    background-size: 19px 19px;
    height: 35px;
    margin-right: 4px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    padding: 0px 15px;
    border: 1px solid #ddd;
    color: #323c41;
    min-width: 20%;
    max-width: 140px;
    font-weight: bold;
    font-size: 15px;
}

.header-category-button:hover {
    transform: scale(1.02);
}

.header-nav-menu {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-around;
}

/* right side of the header. navigation buttons */
.nav-menu {
    width: 100%;
}

.nav-menu-btn {
    border: none;
    font-weight: bold;
    cursor: pointer;
    height: 100%;
    padding: 0;
}

.logout {
    background-color: #323c41;
    color: #fff !important;
    padding: 7px 15px;
    border-radius: 18px;
    height: auto;
}

.nav-menu-btn:hover {
    color: #323c41;
    border-bottom: 2px solid #323c41;
}