@import "/src/styles/mixins.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #efefef;
  padding-top: 4rem;
  height: 100vh;

  @include onXSmall {
    padding-top: 9rem;
  }
}

.contact-box {
  width: 650px;
  height: 700px;
  border-radius: 6px;
}

.box-title {
  padding-top: 4%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 0 7% 7% 7%;
}

.contact-form label {
  padding: 4% 0;
}

.contact-form input {
  width: 100%;
  padding: 1.5%;
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
  background-repeat: no-repeat;
  border: 1px solid #30363d;
  border-radius: 6px;
  box-shadow: transparent;
}

.message-input {
  box-shadow: 30px 20px 30px rgba(0, 0, 0, 0.05);
  border: 1px solid lightgray;
  border-radius: 16px;
  color: black;
  padding: 5%;
}

.submit-btn {
  margin-top: 2rem;
  user-select: none;
  border-radius: 6px;
}

.admin {
  display: none;
}

.messages-list {
  width: 700px;
  text-align: start;
  padding: 0;

  @include onSmall {
    padding: 1rem;
  }
}

.admin-messages-title {
  margin-bottom: 5rem;

  @include onSmall {
    font-size: 28px;
  }

  @include onXSmall {
    font-size: 24px;
  }
}

.mat-error {
  font-weight: bold;
  margin-top: 1%;
  font-size: 12px;
}

.error-div {
  height: 20px;
}

.delete-btn {
  margin-top: 1rem;
  font-size: 22px;
  cursor: pointer;
}
