<app-header></app-header>

<div class="container" [ngClass]="{admin: isAdmin}">
    <div class="contact-box">
        <h1 class="box-title">Contact us</h1>
        <form [formGroup]="contactForm" class="contact-form">
            <label for="name">Name</label>
            <input class="name-input" type="text" formControlName="name">
            <label for="email">Email address</label>
            <input class="email-input" type="text" formControlName="email">
            <label for="message">Message</label>
            <textarea class="message-input" rows="10" cdkTextareaAutosize cdkAutosizeMinRows="5"
                formControlName="message">
            </textarea>
            <button class="submit-btn" type="submit" (click)="sendMessage()"
                [disabled]="contactForm.invalid">Submit</button>
        </form>
    </div>
</div>

<div class="messages-list" [ngClass]="{admin: !isAdmin}">
    <table cdk-table [dataSource]="dataSource">

        <!-- Name Column -->
        <ng-container cdkColumnDef="name">
            <th cdk-header-cell *cdkHeaderCellDef> Name </th>
            <td cdk-cell *cdkCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- email Column -->
        <ng-container cdkColumnDef="email">
            <th cdk-header-cell *cdkHeaderCellDef> email </th>
            <td cdk-cell *cdkCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- message Column -->
        <ng-container cdkColumnDef="message">
            <th cdk-header-cell *cdkHeaderCellDef> message </th>
            <td cdk-cell *cdkCellDef="let element"> {{element.message}} </td>
        </ng-container>

        <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>

    </table>
</div>