<app-header></app-header>

<div class="container">
    <div class="contact-box">
        <h1 class="box-title">Contact us</h1>
        <form [formGroup]="contactForm" class="contact-form">
            <label for="name">Name</label>
            <input class="name-input" type="text" formControlName="name">
            <label for="email">Email address</label>
            <input class="email-input" type="text" formControlName="email">
            <label for="message">Message</label>
            <textarea class="message-input" rows="10" cdkTextareaAutosize>
            </textarea>
            <!-- <input class="message-input" type="text" formControlName="message"> -->
            <button class="submit-btn" type="submit">Submit</button>
        </form>
    </div>
</div>