.container {
    padding: 10%;
}

.title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipes-list-box {
    margin-top: 2%;
    width: 100%;
}

.mat-list-base .mat-list-item {
    height: 350px;
    border-radius: 16px;
    background-color: #ebece9;
    margin-top: 2%;
}

.mat-list-item-content {
    padding: 0;
}

:host ::ng-deep.mat-list-base .mat-list-item .mat-list-item-content {
    padding: 0;
}