@import "/src/styles/mixins.scss";

.container {
  padding: 5rem;
  margin-top: 6rem;
  padding-bottom: 4rem;

  @include onXLarge {
    padding: 4rem;
    margin-bottom: 4rem;
  }

  @include onLarge {
    padding: 3rem;
  }

  @include onMedium {
    padding: 1rem;
    margin-top: 7.5rem;
  }

  @include onSmall {
    padding: 1rem 0.3rem;
    margin-top: 9rem;
  }
}

.title-box {
  display: flex;
  align-items: center;
  gap: 2rem;

  @include onSmall {
    flex-wrap: wrap;

    & .search-bar {
      order: 3;
    }
  }
}

.search-bar {
  flex-grow: 1;
}

.search-form {
  width: 90%;
}

.recipes-list-box {
  max-width: 1400px;
  margin: auto;
  margin-top: 3rem;
  width: 100%;
}

.mat-list-base .mat-list-item {
  height: 350px;
  border-radius: 16px;
  background-color: #ebece9;
  margin-top: 2rem;

  @include onSmall {
    height: auto;
  }
}

:host ::ng-deep.mat-list-base .mat-list-item .mat-list-item-content {
  padding: 0;
}

.show-more {
  margin-top: 9%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-more-button {
  width: 40%;
  height: 40px;
}
