<div class="container">

    <div class="login-box">
        <form [formGroup]="loginForm" class="login-form">
            <label for="email">Email address</label>
            <div style="position: relative;">
                <input class="email-input" type="text" formControlName="email">
                <mat-error *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">
                    {{ emailErrorMessage() }}
                </mat-error>
            </div>
            <label for="password">Password</label>
            <div style="position: relative;">
                <input class="password-input" type="password" formControlName="password" minlength="6" maxlength="30">
                <mat-error *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
                    {{ "Minimum 6 characters" }}
                </mat-error>
            </div>
            <button class="sign-in-btn" type="submit" (click)="login()" [disabled]="loginForm.invalid">Sign in</button>
        </form>
    </div>

</div>