@import "/src/styles/mixins.scss";

.recipe-card {
  width: 100%;
  height: 100%;
  display: flex;

  @include onSmall {
    flex-direction: column;
  }
}

.recipe-details-link {
  position: absolute;
  right: 1.5rem;
  top: 10px;
  color: rgb(0, 0, 255);

  &:hover {
    text-decoration: underline;
  }

  @include onSmall {
    top: unset;
    bottom: 10px;
  }
}

.recipe-img {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  width: 45%;
  height: 100%;
  object-fit: cover;

  @include onMedium {
    width: 35%;
  }

  @include onSmall {
    width: 100%;
    border: inherit;
    object-fit: contain;
    height: 250px;
  }
}

.card-info {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  @include onSmall {
    flex-direction: column;
    padding-bottom: 3rem;
  }
}

.left-side {
  flex-grow: 1;

  & .recipe-name {
    padding-bottom: 2rem;
  }
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  @include onSmall {
    margin-bottom: 1rem;
  }
}

.ingredients-box {
  overflow: hidden;
  overflow-x: auto;
  border-right: 1.5px solid rgb(92, 89, 89);
  height: 75%;

  @include onSmall {
    border-right: unset;
  }
}

.ingredients-box ul li {
  margin-bottom: 10px;
}

.ingredients {
  padding-bottom: 15px;
}

.edit-delete {
  width: 70px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 5%;
  right: 1%;

  @include onSmall {
    left: 1.5rem;
    right: unset;
    top: unset;
    bottom: 10px;
  }
}

.edit-delete .mat-icon {
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}
