<form [formGroup]="addRecipeForm" class="add-recipe-form">

    <p>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Recipe name</mat-label>
            <input matInput formControlName="name" minlength="3" maxlength="50">
        </mat-form-field>

        <mat-form-field class="full-width ingredients" appearance="fill">
            <mat-label>Recipe ingredients</mat-label>
            <mat-chip-list #ingredientsList aria-label="ingredient selection">
                <mat-chip *ngFor="let ingredient of ingredients" (removed)="removeIngredient(ingredient)">
                    {{ingredient}}
                    <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
                <input placeholder="New ingredient..." [matChipInputFor]="ingredientsList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="addIngredient($event)" formControlName="ingredients">
            </mat-chip-list>
        </mat-form-field>

        <mat-form-field class="full-width tags" appearance="fill">
            <mat-label>Recipe tags</mat-label>
            <mat-chip-list #tagsList aria-label="tag selection">
                <mat-chip *ngFor="let tag of tags" (removed)="removeTag(tag)">
                    {{tag}}
                    <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
                <input placeholder="New tag..." [matChipInputFor]="tagsList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="addTag($event)" formControlName="tags">
            </mat-chip-list>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Image Url</mat-label>
            <input matInput formControlName="image">
        </mat-form-field>
    </p>

    <table class="full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Cuisine</mat-label>
                    <input matInput placeholder="Ex. Italian" minlength="3" maxlength="25" formControlName="cuisine">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Cooking Time</mat-label>
                    <input matInput placeholder="In minutes" type="number" formControlName="cookingTime">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Meal Type</mat-label>
                    <input matInput formControlName="mealType" minlength="4" maxlength="25">
                </mat-form-field>
            </td>
        </tr>
    </table>
    <div class="bottom-buttons">
        <button mat-raised-button color="primary" class="Add-recipe-btn" type="submit"
            [disabled]="addRecipeForm.invalid"
            [mat-dialog-close]="{form : addRecipeForm.value, ingredients: {ingredients}, tags: {tags} }">Add</button>
        <button mat-raised-button (click)="onCancel()">Cancel</button>
    </div>
</form>