<!-- <p class="recipes-description">Demo data</p> -->
<div class="recipe-card">
    <img class="recipe-img" [src]="recipe.image" alt="">
    <div class="card-info">
        <div class="left-side">
            <h3 class="recipe-name">{{recipe.name}}</h3>
            <!-- <p class="recipe-chef"><span style="font-weight: 200;">by</span> {{recipe.chef}} </p> -->
            <div class="ingredients-box">
                <h3 class="ingredients">Ingredients:</h3>
                <ul>
                    <li *ngFor="let ingredient of recipe.ingredients">
                        {{ingredient}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="right-side">
            <p> Meal Type: {{recipe.mealType}}</p>
            <p> Cuisine {{recipe.cuisine}}</p>
            <p> Cooking Time: {{recipe.cookingTime}}</p>
        </div>
        <div class="edit-delete">
            <mat-icon (click)="onDelete(recipe)">delete</mat-icon>
            <mat-icon (click)="onEdit(recipe)">edit</mat-icon>
        </div>
    </div>
</div>